
LAB 8/stanford-corenlp-4.5.1/xom.jar
LAB 8/stanford-corenlp-4.5.1/xom-1.3.7-sources.jar
LAB 8/stanford-corenlp-4.5.1/tokensregex/retokenize.txt
LAB 8/stanford-corenlp-4.5.1/tokensregex/color.rules.txt
LAB 8/stanford-corenlp-4.5.1/tokensregex/color.properties
LAB 8/stanford-corenlp-4.5.1/tokensregex/color.input.txt
LAB 8/stanford-corenlp-4.5.1/sutime/spanish.sutime.txt
LAB 8/stanford-corenlp-4.5.1/sutime/english.sutime.txt
LAB 8/stanford-corenlp-4.5.1/sutime/english.holidays.sutime.txt
LAB 8/stanford-corenlp-4.5.1/sutime/defs.sutime.txt
LAB 8/stanford-corenlp-4.5.1/sutime/british.sutime.txt
LAB 8/stanford-corenlp-4.5.1/StanfordDependenciesManual.pdf
LAB 8/stanford-corenlp-4.5.1/StanfordCoreNlpDemo.java
LAB 8/stanford-corenlp-4.5.1/stanford-corenlp-4.5.1.jar
LAB 8/stanford-corenlp-4.5.1/stanford-corenlp-4.5.1-sources.jar
LAB 8/stanford-corenlp-4.5.1/stanford-corenlp-4.5.1-models.jar
LAB 8/stanford-corenlp-4.5.1/stanford-corenlp-4.5.1-javadoc.jar
LAB 8/stanford-corenlp-4.5.1/slf4j-simple.jar
LAB 8/stanford-corenlp-4.5.1/slf4j-api.jar
LAB 8/stanford-corenlp-4.5.1/ShiftReduceDemo.java
LAB 8/stanford-corenlp-4.5.1/SemgrexDemo.java
LAB 8/stanford-corenlp-4.5.1/sample-project-pom.xml
LAB 8/stanford-corenlp-4.5.1/RESOURCE-LICENSES
LAB 8/stanford-corenlp-4.5.1/README.txt
LAB 8/stanford-corenlp-4.5.1/protobuf-java-3.19.2.jar
LAB 8/stanford-corenlp-4.5.1/pom.xml
LAB 8/stanford-corenlp-4.5.1/pom-java-17.xml
LAB 8/stanford-corenlp-4.5.1/pom-java-11.xml
LAB 8/stanford-corenlp-4.5.1/patterns/stopwords.txt
LAB 8/stanford-corenlp-4.5.1/patterns/presidents.txt
LAB 8/stanford-corenlp-4.5.1/patterns/places.txt
LAB 8/stanford-corenlp-4.5.1/patterns/otherpeople.txt
LAB 8/stanford-corenlp-4.5.1/patterns/names.txt
LAB 8/stanford-corenlp-4.5.1/patterns/goldplaces.txt
LAB 8/stanford-corenlp-4.5.1/patterns/goldnames.txt
LAB 8/stanford-corenlp-4.5.1/patterns/example.properties
LAB 8/stanford-corenlp-4.5.1/Makefile
LAB 8/stanford-corenlp-4.5.1/LICENSE.txt
LAB 8/stanford-corenlp-4.5.1/LIBRARY-LICENSES
LAB 8/stanford-corenlp-4.5.1/jollyday.jar
LAB 8/stanford-corenlp-4.5.1/jollyday-0.4.9-sources.jar
LAB 8/stanford-corenlp-4.5.1/joda-time.jar
LAB 8/stanford-corenlp-4.5.1/joda-time-2.10.5-sources.jar
LAB 8/stanford-corenlp-4.5.1/jaxb-impl-2.4.0-b180830.0438.jar
LAB 8/stanford-corenlp-4.5.1/jaxb-impl-2.4.0-b180830.0438-sources.jar
LAB 8/stanford-corenlp-4.5.1/jaxb-api-2.4.0-b180830.0359.jar
LAB 8/stanford-corenlp-4.5.1/jaxb-api-2.4.0-b180830.0359-sources.jar
LAB 8/stanford-corenlp-4.5.1/javax.json.jar
LAB 8/stanford-corenlp-4.5.1/javax.json-api-1.0-sources.jar
LAB 8/stanford-corenlp-4.5.1/javax.activation-api-1.2.0.jar
LAB 8/stanford-corenlp-4.5.1/javax.activation-api-1.2.0-sources.jar
LAB 8/stanford-corenlp-4.5.1/istack-commons-runtime-3.0.7.jar
LAB 8/stanford-corenlp-4.5.1/istack-commons-runtime-3.0.7-sources.jar
LAB 8/stanford-corenlp-4.5.1/input.txt.xml
LAB 8/stanford-corenlp-4.5.1/input.txt.out
LAB 8/stanford-corenlp-4.5.1/input.txt
LAB 8/stanford-corenlp-4.5.1/ejml-simple-0.39.jar
LAB 8/stanford-corenlp-4.5.1/ejml-simple-0.39-sources.jar
LAB 8/stanford-corenlp-4.5.1/ejml-ddense-0.39.jar
LAB 8/stanford-corenlp-4.5.1/ejml-ddense-0.39-sources.jar
LAB 8/stanford-corenlp-4.5.1/ejml-core-0.39.jar
LAB 8/stanford-corenlp-4.5.1/ejml-core-0.39-sources.jar
LAB 8/stanford-corenlp-4.5.1/corenlp.sh
LAB 8/stanford-corenlp-4.5.1/CoreNLP-to-HTML.xsl
LAB 8/stanford-corenlp-4.5.1/build.xml
